# Dependencias de Node.js
node_modules/

# Archivos de registro
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Directorios de producción
dist/
build/

# Ignorar declaraciones de canister
src/declarations/

# Archivos de entorno
.env

# Archivos de configuración del editor
.vscode/
.idea/

# Ignorar la carpeta de configuración de dfx
.dfx/

# Archivos del sistema operativo
.DS_Store
Thumbs.db
~/.npm
