<IfModule mod_mime.c>
    AddEncoding gzip .gz
    AddEncoding br .br
    <FilesMatch "\.js\.gz$">
        Header set Content-Encoding gzip
        Header set Content-Type "application/javascript"
    </FilesMatch>
    <FilesMatch "\.wasm\.gz$">
        Header set Content-Encoding gzip
        Header set Content-Type "application/wasm"
    </FilesMatch>
    <FilesMatch "\.data\.gz$">
        Header set Content-Encoding gzip
        Header set Content-Type "application/octet-stream"
    </FilesMatch>
    <FilesMatch "\.json\.gz$">
        Header set Content-Encoding gzip
        Header set Content-Type "application/json"
    </FilesMatch>
</IfModule>
