.text-sup-hex-container {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    margin-top: 5%;
    padding: 1.3rem;
    border-top: 2px solid #3300ff;
    border-bottom: 2px solid #3300ff;
    color: #fff;
}